<h1>Kittens</h1>
<% @kittens.each do |kitten| %>
  <p>Name: <%= kitten.name %>
    <%# <%= link_to "Show", kitten_path(kittten) %>
    <%# <%= button_to "Delete", kitten_path(kitten), form: { data: { turbo_confirm: "Are you sure?" } }, method: :delete %>
  </p>
<% end %>
